.neutral {
background:gray;
border:1px solid #5c5c5c;
}

.enabled {
background:darkblue;
}

.btn {
color:white;
width:120px;
margin:5px 0;
text-align:center;
display:block;
text-decoration:none;
padding:5px;
}

.wrong {
background:red;
}

.correct {
background:green;
}

.disabled {
background:white;
border:2px solid #ccc;
color:#ccc;
font-weight:bold;
}
