.answer {
width:120px;
margin:5px 0;
text-align:center;
background:gray;
border:1px solid #5c5c5c;
padding:5px;
text-decoration:none;
color:white;
display:block;
}
.next {
background:darkblue;
color:white;
}

.wrong {
background:red;
color:white;
}

.correct {
background:green;
color:white;
}

.disabled {
background:white;
border:2px solid #ccc;
color:#ccc;
font-weight:bold;
}
